
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
.container {
    max-width: 1200px;
    margin: 100px auto 20px; /* Ajuste a margem superior para mover os suplementos para baixo */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.suplemento {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid silver;
}
.suplemento img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.suplemento h2 {
    font-size: 20px;
    margin-bottom: 5px;
}
.suplemento p {
    font-size: 16px;
    color: #666;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: linear-gradient(to bottom, black, transparent);
    padding: 20px 0; 
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
    top: 0; 
}

nav .logo{
    font-size: 35px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}
nav ul li a:hover { 
    background-color: silver;
}
